
  <div class="task-list">
      <mat-card class="task-card" *ngFor="let task of listOfTasks">
        <div class="task-details">
          <h2 class="task-name">{{ task.title }}</h2>
          <p class="task-description">{{ task.description }}</p>
    
          <mat-divider></mat-divider>
          <div class="task-info">
            <div class="info-row">
              <span class="info-label">Due Date:</span>
              <span class="info-value">{{ task.dueDate | date:'dd MMM yyyy' }}</span>
            </div>
            <div class="info-row">
              <span class="info-label">Priority:</span>
              <span class="info-value">{{ task.priority }}</span>
            </div>
            <div class="info-row">
              <span class="info-label">Employee:</span>
              <span class="info-value">{{ task.employeeName }}</span>
            </div>
            <div class="info-row">
              <span class="info-label">Status:</span>
              <span class="info-value">{{ task.taskStatus }}</span>
            </div>
          </div>
    
          <mat-divider></mat-divider>
    
           <div class="actions">
            
            <button mat-icon-button color="accent" class="view-button" routerLink="/employee/task-details/{{task.id}}">
              <mat-icon>visibility</mat-icon>
            </button> 
             <button mat-icon-button color="primary" class="update-button" [matMenuTriggerFor]="ststusMenu">
              <mat-icon>edit</mat-icon>
             </button> 

             <mat-menu #ststusMenu="matMenu">
              <button mat-menu-item (click)="updateStatus(task.id, 'INPROGRESS')">INPROGRESS</button>
              <button mat-menu-item (click)="updateStatus(task.id, 'COMPLETED')">COMPLETED</button>
             </mat-menu>
            
     
          </div> 
        </div>
      </mat-card>
    </div>
    