<div class="container">


    <form [formGroup]="taskForm">

        <h2>Post Task</h2>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" placeholder="Title" required>
            
            <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Description" required></textarea>
          
            <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" placeholder="Choose a due date" required>
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
            
            <mat-error *ngIf="taskForm.get('dueDate')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select the Priority</mat-label>
            <mat-select formControlName="priority" name="Priority">
                <mat-option *ngFor="let priority of listOfPriorites" [value]="priority">
                    {{priority}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="taskForm.get('priority')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select the Employee</mat-label>
            <mat-select formControlName="employeeId" name="employeeId">
                <mat-option *ngFor="let employee of listOfEmployee" [value]="employee.id">
                    {{employee.name}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="taskForm.get('employeeId')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid" (click)="postTask()">Post Task</button>

        <!-- <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid" (click)="postTask()">Post Task</button> -->

    </form>
</div>