<div *ngIf="!isEmployeeLoggedIn && !isAdminLoggedIn" style="background-color: rgb(16, 160, 78);">
  <mat-toolbar color="primary" class="navbar"  style="background-color: rgb(16, 160, 78);">
    <span class="navbar-brand">Task Management System</span>
    <span class="example-fill-remaining-space"></span>
    <span class="spacer"></span>
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn"  style="background-color: rgb(16, 160, 78);">
  <mat-toolbar color="primary" class="navbar"  style="background-color: rgb(16, 160, 78);">
    <span class="navbar-brand">Admin</span>
    <span class="example-fill-remaining-space"></span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/task" routerLinkActive="active">Post Task</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf="isEmployeeLoggedIn" style="background-color: rgb(16, 160, 78);">
  <mat-toolbar color="primary" class="navbar"  style="background-color: rgb(16, 160, 78);">
    <span class="navbar-brand">Employee</span>
    <span class="example-fill-remaining-space"></span>
    <span class="spacer"></span>
    <button mat-button routerLink="/employee/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<footer>
  <mat-toolbar color="primary" class="footer"  style="background-color: rgb(16, 160, 78);">
    <span class="navbar-brand">&nbsp;&copy; 2024 Vipun Sanjana</span>
    <span class="example-fill-remaining-space"></span>
    <a mat-button href="https://example.com/privacy-policy" target="_blank">Privacy Policy</a>
    <a mat-button href="https://example.com/terms-of-service" target="_blank">Terms of Service</a>
  </mat-toolbar>
</footer>
